h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(214, 15, 131);

}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blueviolet
}

#lblUsuario {
    color: rgb(201, 26, 201);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

#lblContraseña{
    color: rgb(201, 26, 201);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}